[Unit]
Description=Timed resync
Documentation=man:asd(1) man:anything-sync-daemon(1)
Documentation=https://wiki.archlinux.org/index.php/Anything-sync-daemon
After=asd.service
Wants=asd-resync.timer
PartOf=asd.service

[Service]
Environment="DEBUG=1"
ExecStart=/usr/bin/anything-sync-daemon resync

[Install]
WantedBy=default.target
