[Unit]
Description=Anythinge-sync-daemon
Documentation=man:asd(1) man:anything-sync-daemon(1)
Documentation=https://wiki.archlinux.org/index.php/Anything-sync-daemon
Wants=local-fs.target
After=winbindd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/anything-sync-daemon sync
ExecStop=/usr/bin/anything-sync-daemon unsync

[Install]
WantedBy=multi-user.target
Also=asd-resync.service asd-resync.timer
