[Unit]
Description=Anything-sync-daemon
Wants=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/anything-sync-daemon sync
ExecStop=/usr/bin/anything-sync-daemon unsync

[Install]
WantedBy=multi-user.target
