# Script rendered from `common/anything-sync-daemon.in`
common/anything-sync-daemon

# `nix build` and friends' output links
result
result-*
repl-result-*

# From using `nixos-test-driver`
.nixos-test-history

# Disk images from using `nixos-shell`
*.qcow2
