[Unit]
Description=Symlinks and syncs user defined dirs to RAM thus reducing HDD/SDD calls and speeding-up the system
Wants=local-fs.target

[Service]
Type=oneshot
Environment=RUNFILE=/var/run/daemons/asd
RemainAfterExit=yes

ExecStart=/usr/bin/anything-sync-daemon start
ExecStop=/usr/bin/anything-sync-daemon stop

[Install]
WantedBy=multi-user.target
