[Unit]
Description=Symlinks and syncs user defined dirs to RAM thus reducing HDD/SDD calls and speeding-up the system
Wants=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/anything-sync-daemon sync
ExecStop=/usr/bin/anything-sync-daemon unsync

[Install]
WantedBy=multi-user.target
